:root {
  --primary-color: #ffffff;
  --secondary-color: rgb(0, 150, 255); 
  --dark-color: rgb(0, 10, 102);
}
.container.learn {
  margin: 20px;
}
.chapters {
  background-color: rgba(0, 150, 255, 0.1);
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  margin: 20px;
  min-width: 20vw!important;
}
.content {
  min-width: 60vw;
}