{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ type }}{% endblock %}

{% block body %}
<div class="fade-in p-2 page">
  <h1 class="display-3 m-2 title">{{ type }}</h1>

  <div class="d-flex flex-wrap">
    <div class="algorithms list-group m-4" style="flex: 1;">
      {% for algorithm in algorithms %}
      <a href="{% url algorithm.url %}" class="list-group-item list-group-item-action m-1 algo">
        {{ algorithm.name }}
      </a>
      {% endfor %}
    </div>
    <div class="info m-4" style="flex: 1;">
      <p class="m-2 algo-description"></p>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
<script>
  let description = document.querySelector('.algo-description');
  description.innerText = `{{ type }}` == 'Classification' ? 
  `Classification is a type of supervised learning where the target variable is categorical. The goal is to predict the class or category of the target variable based on the input features. 
  For example, classifying emails as spam or not spam, predicting whether a customer will buy a product or not, or identifying the species of a flower based on its features.
  ` : (`{{ type }}` == 'Regression' ? 
  `Regression is a type of supervised learning where the target variable is continuous. The goal is to predict a continuous value based on the input features.
    For example, predicting house prices, estimating the temperature, or forecasting the sales of a product.`
    : 
  `Clustering is used to group similar data points together based on their features. The goal is to partition the data into groups such that data points in the same group are more similar to each other than to those in other groups. 
  For example, clustering customers based on their purchase history, grouping documents based on their content, or segmenting images based on their colors.
  `
    );

  if (localStorage.getItem('algo') !== 'true' && localStorage.getItem('tour') == 'true') {
    return;
    // localStorage.setItem('algo', 'true');
    introJs().setOptions({
      steps: [
        {
          intro: 'This page shows a list of algorithms for .',
        },
        {
          element: document.querySelector('.algorithms'),
          intro: 'Click on an algorithm to learn more about it.',
        },
      ],
    }).start();
  }
</script>
{% endblock %}
