{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Classification{% endblock %}

{% block body %}
<div class="fade-in p-2 page">
  <h1 class='display-3 m-2 title'>Classification</h1>
  
  <ul class="list-group m-4">
    <li class="list-group-item"><a href={% url 'knn' %}>K-Nearest Neighbors</a></li>
    <li class="list-group-item"><a href={% url 'decision_tree' %}>Decision Tree</a></li>
    {% comment %} <li class="list-group-item"><a href="#">Logistic Regression</a></li> {% endcomment %}
    {% comment %} <li class="list-group-item"><a href="#">Random Forest</a></li> {% endcomment %}
    {% comment %} <li class="list-group-item"><a href="#">Support Vector Machines</a></li> {% endcomment %}
    {% comment %} <li class="list-group-item"><a href="#">Naive Bayes</a></li> {% endcomment %}
  </ul>
</div> 
{% endblock %}
