{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Clustering{% endblock %}

{% block body %}
<div class="fade-in p-2 page">
  <h1 class='display-3 m-2 title'>Clustering</h1>
  
  <ul class="list-group m-4">
    <li class="list-group-item"><a href={% url 'kmeans' %}>K-Means</a></li>
    {% comment %} <li class="list-group-item"><a href="#">Hierarchical Clustering</a></li> {% endcomment %}
    {% comment %} <li class="list-group-item"><a href="#">DBSCN</a></li> {% endcomment %}
  </ul>
</div>
{% endblock %}
