{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Clustering{% endblock %}

{% block body %}
<div class="fade-in">
  <h1 class='display-3'>Clustering</h1>
  
  <h3 class='display-5 flex-column p-4'>Select Clustering Algorithm</h3>

  <ul class="list-group">
    <li class="list-group-item"><a href="#">K-Means</a></li>
    <li class="list-group-item"><a href="#">Hierarchical Clustering</a></li>
    <li class="list-group-item"><a href="#">DBSCN</a></li>
  </ul>
</div>
{% endblock %}
