{% extends "main/layout.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}
  <div class="fade-in">
    <h1 class="display-3"><span>Choose Type</span></h1>
    <ul class="list-group">
      <li class="list-group-item"><a href={% url 'classification' %}>Classification</a></li>
      <li class="list-group-item"><a href={% url 'regression' %}>Regression</a></li>
      <li class="list-group-item"><a href={% url 'clustering' %}>Clustering</a></li>
    </ul>
  </div>
{% endblock %}
