{% extends "main/layout.html" %}
{% load static %}

{% block title %}Input Datasets{% endblock %}

{% block body %}
<div class="fade-in">
  <h1 class='display-3'>Input Datasets</h1>
  
  <form id="ml-form" method="post" enctype="multipart/form-data" class="form form-group">
    {% csrf_token %}
    <div class="form-group">
      <input type="file" name="dataset" id="dataset" class="form-control-file"/>
    </div>
    <button type="submit" class="btn btn-primary">Build</button>
  </form>    
</div>
{% endblock %}
