{% extends "main/layout.html" %}
{% load static %}

{% block title %}Input Datasets{% endblock %}

{% block body %}
<div class="loader justify-content-center align-items-center d-none">
  <div class="spinner-grow text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="fade-in page">
  <div class="container d-flex">
    <div>
      <h1 class='display-3 title'>Input Datasets</h1>
      <div>
        <form id="ml-form" method="post" enctype="multipart/form-data" class="form form-group mt-3" onsubmit="return validateForm()" autocomplete="off">
          {% csrf_token %}
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <div class="dataset-div">
                <div class="form-group dataset-selection mt-4">
                  <div class="d-inline dataset-selection-upload selected">
                    <input type="radio" id="option-upload" name="dataset-option" value="upload" checked onchange="handleDatasetOptionChange(event)">
                    <label for="option-upload">Upload Your Dataset</label>
                  </div>
                  <div class="d-inline dataset-selection-preload">
                    <input type="radio" id="option-preloaded" name="dataset-option" value="choose" onchange="handleDatasetOptionChange(event)">
                    <label for="option-preloaded">Use a Preloaded Dataset</label>
                  </div>
                </div>
                
                <div class="form-group" id="upload-div">
                  <input type="file" name="dataset" id="dataset" class="form-control form-control-file" onchange="handleFileChange(event)" />
                </div>
                
                <div class="form-group d-none" id="preloaded-div">
                  <select name="preloaded-dataset" id="preloaded-dataset" class="form-control" onchange="handlePreloadedFileChange(event)">
                    <option value="" selected disabled>Select a Dataset</option>
                    {% for dataset in datasets %}
                    <option value="{{ dataset }}">{{ dataset }}</option>
                    {% endfor %}
                  </select>
                </div>                
              </div>
              <div class="form-group d-none" id="train-test-split">
                <select name="testsize" id="testsize" class="form-control">
                  <option value="0.2" selected>80% Train, 20% Test</option>
                  <option value="0.25">75% Train, 25% Test</option>
                  <option value="0.3">70% Train, 30% Test</option>
                  <option value="0.4">60% Train, 40% Test</option>
                  <option value="0.5">50% Train, 50% Test</option>
                </select>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary" id="upload-btn" disabled onclick="handleDataset(event)">
            Next
          </button>
          
          <div class="fade-in">
            <div class="form-group d-none" id="features-div">
              <label for="target">Select Features</label>
              <div class="form-check" id="features">
                {% comment %} Checkboxes will be here populated by js {% endcomment %}
              </div>
            </div>
            <div class="form-group d-none" id="target-div">
              <label for="target">Select Target</label>
              <select name="target" id="target" class="form-control">
                {% comment %} Dropdown will be populated here {% endcomment %}
              </select>
            </div>
            
            {% if hyperparameters %}
            <div class="hyperparameters d-none" id="hyperparameter-div">
              {% for key, param in hyperparameters.items %}
                {% if param.field == "select" %}
                  <div class="form-group" id="{{ param.name }}-div">
                    <label for="{{ param.name }}">{{ param.name }}:</label>
                    <select id="{{ param.name }}" name="{{ param.name }}" class="hyperparameter form-control dropdown">
                      <option value="" selected disabled>Select</option>
                      {% for option in param.options %}
                        <option value="{{ option }}" {% if option == param.default %}selected{% endif %}>{{ option }}</option>
                      {% endfor %}
                    </select>
                  </div>
                {% else %}
                  <div class="form-group" id="{{ param.name }}-div">
                    <label for="{{ param.name }}">{{ param.name }}:</label>
                    <input type="{{ param.type }}" id="{{ param.name }}" name="{{ param.name }}" class="hyperparameter" value="{{ param.default }}">
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            {% endif %}

            {% if optional_parameters %}
              <div id="accordion" class="optional-div optional-parameters d-none mt-4 mb-4">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onClick="event.preventDefault()">
                        Optional
                      </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    {% for param in optional_parameters %}
                      <div class="mb-3" id="{{ param.name }}-div">
                        <label for="{{ param.name }}" class="form-label">{{ param.name }}</label>
                        {% if param.field == "select" %}
                          <select id="{{ param.name }}" name="{{ param.name }}" class="form-control">
                            <option value="" selected disabled>Select</option>
                          {% for option in param.options %}
                            <option value="{{ option }}" {% if option == param.default %}selected{% endif %}>{{ option }}</option>
                          {% endfor %}
                        </select>
                      {% else %}
                        <input type="{{ param.type }}" class="form-control" id="{{ param.name }}" name="{{ param.name }}" value="{{ param.default }}" placeholder="Enter {{ param.name }}">
                      {% endif %}
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
            
            <button type="submit" id="build-btn" class="btn btn-primary d-none">
              <div class="d-none" id="build-btn-div1">
                Build
              </div>
              <div class="spinner-grow text-light" id="build-btn-div2" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </button>
          </div>
          
          
        </form>
      </div>
    </div>
  
    <div class="d-flex">
      <div class="right justify-content-center heatmaps" id="canvas-1" onclick="toggleHeatmaps()"></div>  
      <div id="plotly-heatmap" class="right justify-content-center d-none heatmaps"></div>
    </div>

  </div>

  <div class="container d-none" id="scatter-container">
    <div class="d-flex justify-content-center">
      <div class="justify-content-center" id="canvas-2">
        <div id="plotly-scatter" class="left justify-content-center scatter"></div>
        <div class="right d-flex justify-content-center scatter-buttons">
          <label for="x-axis-select">X-Axis:</label>
          <select id="x-axis-select" class="form-select">
            <!-- Dynamically populate options from your dataset columns -->
          </select>
        
          <label for="y-axis-select">Y-Axis:</label>
          <select id="y-axis-select" class="form-select">
            <!-- Dynamically populate options from your dataset columns -->
          </select>
        
          <button id="generate-scatter-btn" class="btn btn-primary" onclick="generateScatter()">
            Generate Scatter Plot
          </button>
        </div>
      </div>  
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src={% static "main/js/input.js" %}></script>
{% endblock %}
