{% extends "main/layout.html" %}
{% load static %}

{% block title %}Results{% endblock %}

{% block body %}
<div class="fade-in">
  <h1 class="display-3 title">Results</h1>
  
  <div id="results">
    <div class="line d-flex justify-content-center">
      <h2 class="display-5 p-3 font-weight-bold">
        Number of Clusters = {{ k }}
      </h2>
    </div>
  </div>

  <div class="d-flex">
    <div class="centroids p-2 flex-grow-1">
      <h2 class="header m-2 p-2">Centroids</h2>
      <ol class="list-group">
        {% for centroid in centroids %}
          <li class="list-group-item list-group-item-action">
            {{ centroid }}
          </li>
        {% endfor %}
      </ol>

      <h3 class="m-2 mt-4">Evaluation Metrics</h3>
      <table class="table mt-3 table-bordered table-hover">
        <tbody>
          <tr>
            <th>Inertia (Within-Cluster Sum of Squares)</th>
            <td>{{ metrics.inertia }}</td>
          </tr>
          <tr>
            <th>Silhouette Score</th>
            <td class="
              {% if metrics.silhouette_score > 0.6 %}
                table-success
              {% elif metrics.silhouette_score > 0.2 %}
                table-warning
              {% else %}
                table-danger
              {% endif %}
            ">
              {{ metrics.silhouette_score }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="plot justify-content-end">
      <img src="{{ plot }}" class="img-fluid" alt="Plot">
    </div>
  </div>

  <div class="mt-2">
    <div class="d-flex justify-content-end mt-4 mb-4">
      <a href="{{ download }}" class="link">
        <button class="btn btn-info btn-block">
          Download Trained Model
        </button>
      </a>
    </div>

    <div class="prediction mt-4 mb-4">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed display-3" type="button" data-toggle="collapse" data-target="#predictionForm" aria-expanded="true" aria-controls="predictionForm">
                Predict
              </button>
            </h5>
          </div>
      
          <div id="predictionForm" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <div class="form-group">
                <form onsubmit="return makePrediction(event)">
                  <table class="d-flex justify-content-center w-100">
                    <tbody class="w-100">
                      {% for feature in features %}
                      <tr class="d-flex">
                        <td class="w-25">
                          <label for="{{ feature }}">{{ feature }}:</label>
                        </td>
                        <td class="w-50">
                          <input type="text" required class="form-control" id="{{ feature }}" name="{{ feature }}" placeholder="">
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  
                  <input type="hidden" name="model_path" value={{ download }}>
                  <input type="hidden" name="target" value={{ target }}>
                  <div class="w-100 d-flex justify-content-end mt-4 mr-4 mb-4">
                    <button class="btn btn-info m-2">Predict</button>
                  </div>
                  <div id="prediction-result" class="alert alert-success d-none m-2"></div>
                </form>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-info">
        <thead class="thead">
          <tr class="thead">
            <th>Point</th>
            {% for val in X %}
              {% for i in val %}
                <td>{{ i }}</td>
              {% endfor %}
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Label</th>
            {% for label in labels %}
              <td colspan="{{ feature_count }}" class="text-center">{{ label }}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
