{% extends "main/layout.html" %}
{% load static %}

{% block title %}Results{% endblock %}

{% block body %}
<div class="fade-in">
  <h1 class="display-3 title">Results</h1>
  <div id="results">
    <div class="line d-flex justify-content-center">
      <h2 class="display-5 p-3 font-weight-bold">
        {{ line }}
      </h2>
    </div>
  </div>

  <div class="evaluation">
    <h3 class="m-2">Evaluation Metrics</h3>
    <table class="table table-bordered table-hover">
      <tbody>
        <tr>
            <th>Mean Absolute Error</th>
            <td class="
            {% if metrics.mae < 0.3 %}
              table-success
            {% elif metrics.mae < 0.7 %}
              table-warning
            {% else %}
              table-danger
            {% endif %}
            ">{{ metrics.mae }}</td>
          </tr>
          <tr>  
            <th>Mean Squared Error</th>
            <td class="
            {% if metrics.mse < 0.2 %}
              table-success
            {% elif metrics.mse < 0.5 %}
              table-warning
            {% else %}
              table-danger
            {% endif %}
            ">{{ metrics.mse }}</td>
          </tr>
          <tr>
            <th>Root Mean Squared Error</th>
            <td class="
            {% if metrics.rmse < 0.3 %}
              table-success
            {% elif metrics.rmse < 0.7 %}
              table-warning
            {% else %}
              table-danger
            {% endif %}
            ">{{ metrics.rmse }}</td>
          </tr>
          <tr>
            <th>R<sup>2</sup> Score</th>
            <td class="
            {% if metrics.r2 > 0.75 %}
              table-success
            {% elif metrics.r2 > 0.5 %}
              table-warning
            {% else %}
              table-danger
            {% endif %}
            ">{{ metrics.r2 }}</td>
          </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end mt-4 mb-4">
      <a href="{{ download }}" class="link">
        <button class="btn btn-info btn-block">
          Download Trained Model
        </button>
      </a>
    </div>
  </div>
  
  <div class="prediction mt-4 mb-4">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#predictionForm" aria-expanded="true" aria-controls="predictionForm">
              Predict
            </button>
          </h5>
        </div>
    
        <div id="predictionForm" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div class="form-group">
              <form action="" onsubmit="return makePrediction()">
                <div class="col">
                  <input type="text" class="form-control" id="input" name="input" placeholder="Enter input">
                </div>
  
                <div class="w-100 d-flex justify-content-end mt-4 mr-4 mb-4">
                  <button class="btn btn-info mt-2">Predict</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-info">
      <thead class="thead">
        <th>Actual Values</th>
        {% for value in actual %}
        <td>{{ value }}</td>
        {% endfor %}
      </thead>
      <tbody>
        <tr>
          <th>Predicted Values</th>
          {% for value in predicted %}
          <td>{{ value }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
  

</div>
{% endblock %}

{% block footer %}
{% endblock %}
