{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Preprocessing{% endblock %}
{% block body %}
    <h2 class="text-center my-4">Upload Your Dataset and Apply Preprocessing</h2>
    <!-- File Upload Form -->

    <div class="d-flex justify-content-center">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- upload dataset here  -->                                
            <div class="mb-3">
                <input type="file" id="file" name="file" accept=".csv" class="form-control" required>
            </div>
            
            <!-- Preprocessing Options -->
            <div class="mb-3">
                <label for="missing_value_strategy">Missing Value Strategy:</label>
                <select id="missing_value_strategy" name="missing_value_strategy" class="form-control">
                    <option value="None">None</option>
                    <option value="mean">Fill with Mean</option>
                    <option value="median">Fill with Median</option>
                    <option value="drop">Remove Rows</option>
                </select>
            </div>

            <!-- Column Selection for Missing Value Strategy -->
            <div class="mb-3">
                <label id="colselect"></label>
                <div id="feature_selection" class="form-check">
                    <!-- Checkboxes will be populated dynamically -->
                </div>
                <div class="mt-3">
                <button type="button" class="btn btn-primary" id="missing_value_strategybtn">Apply</button>
                </div>
            </div>
        

            <div class="mb-3">
                <label for="encoding_strategy">Encoding Strategy:</label>
                <select id="encoding_strategy" name="encoding_strategy" class="form-control">
                    <option value="None">None</option>
                    <option value="onehot">One-Hot Encoding</option>
                    <option value="label">Label Encoding</option>
                </select>
            </div>

            <!-- Column Selection for Encoding Strategy -->
            <div class="mb-3">
                <label id="enc_colselect"></label>
                <div id="encoding_selection" class="form-check">
                    <!-- Checkboxes for encoding selection will be populated dynamically -->
                </div>
                <div class="mt-3">
                <button type="button" class="btn btn-primary" id="encoding_strategybtn">Apply</button>
                </div>
            </div>

            <div class="mb-3">
                <label for="scaling_strategy">Scaling Strategy:</label>
                <select id="scaling_strategy" name="scaling_strategy" class="form-control">
                    <option value="None">None</option>
                    <option value="standard">Standardization</option>
                    <option value="normalize">Normalization</option>
                </select>
            </div>
            <div class="mb-3">
                <label id="scale_colselect"></label>
                <div id="scale_selection" class="form-check">
                    <!-- Checkboxes for scalling selection will be populated dynamically -->
                </div>
                <div class="mt-3">
                <button type="button" class="btn btn-primary" id="scaling_strategybtn">Apply</button>
                </div>
            </div>
            
        </form>
    </div>
    
   
    <h3 class="text-center my-4" id="heading"></h3>
    
    <div id="csv-preview-container" class="table-responsive" style="overflow:auto; height:500px; width:100%;">
        <!-- JavaScript will render data here as table -->
         
    </div>
    
    <a href="{% url 'download_csv' %}">Download Updated Dataset as CSV</a>

{% endblock %}

{% block script %}
<script>
    document.getElementById('file').addEventListener('change',preview_data);
    const featureSelectionDiv = document.getElementById("feature_selection");
    const encoding_selection = document.getElementById("encoding_selection");
    const scale_selection = document.getElementById("scale_selection");
    const feat="feature_selection";
    const enco="encoding_selection";
    const scale="scaling_selection"

    




    
    function preview_data(e) {
        const file = e.target.files[0];
        const formData = new FormData();
        formData.append('file', file);
        
        let text,rows,headers,null_columns;

        fetch('/preprocessing', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': getCookie('csrftoken'), // Use a helper function to get CSRF token
            },
        })
        .then(response => {

        return response.json();
        })
        .then(data => {
        if (data.error) {
            alert(data.error);
        } else {

            text=JSON.parse(data.json_data)
            console.log(text)        
            headers=data.headers
            null_columns=data.null_columns
            non_numerical_cols=data.non_numerical_cols
            generatecolumns(null_columns,featureSelectionDiv,feat)    //generate columns for missing values     
            generatecolumns(non_numerical_cols,encoding_selection,enco)     //generate columns for encoding
            generatecolumns(headers,scale_selection,scale)
            generateTable(text,null_columns)

        }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    
    }


    // Function to generate table from JSON data
    function generateTable(jsonData, null_columns) {
        const container = document.getElementById('csv-preview-container');

        // Clear existing content in the container
        container.innerHTML = '';

        const table = document.createElement('table');
        table.className = 'table table-bordered table-hover table-striped';
        const headerRow = document.createElement('tr');

        // Create table headers
        Object.keys(jsonData[0]).forEach(key => {
            const th = document.createElement('th');
            th.innerText = key.charAt(0).toUpperCase() + key.slice(1); // Capitalize first letter
            // Add the bg-warning class if the key is in null_columns
            if (null_columns.includes(key)) {
                th.classList.add('bg-warning');
            }
            headerRow.appendChild(th);
        });

        table.appendChild(headerRow);

        // Create table rows
        jsonData.forEach(item => {
            const row = document.createElement('tr');
            Object.values(item).forEach(value => {
                const td = document.createElement('td');
                td.innerText = value;
                row.appendChild(td);
            });
            table.appendChild(row);
        });

        // Append the new table to the container
        container.appendChild(table);
    }



            
       
            
            
    // Populate the column for selection 
    function generatecolumns(null_columns,featureSelectionDiv,selection) {
        

        // Clear any existing checkboxes
        featureSelectionDiv.innerHTML = '';

        // Iterate over the null_columns array
        null_columns.forEach(column => {

            // Create a new checkbox input element
            const checkbox = document.createElement("input");
            checkbox.type = "checkbox";
            checkbox.id = column; // Set the checkbox id to the column name
            checkbox.value = column; // Set the checkbox value to the column name
            checkbox.className = "form-check-input"; // Add Bootstrap class for styling
            checkbox.name = selection; //feature selection or encoding selection

            // Create a label for the checkbox
            const label = document.createElement("label");
            label.htmlFor = column; // Link the label to the checkbox
            label.textContent = column; // Set the label text to the column name
            label.className = "form-check-label"; // Add Bootstrap class for styling

            // Create a div to contain the checkbox and label
            const checkboxDiv = document.createElement("div");
            checkboxDiv.className = "form-check"; // Add Bootstrap class for styling
            checkboxDiv.appendChild(checkbox);
            checkboxDiv.appendChild(label);

            // Append the checkbox div to the feature selection div
            featureSelectionDiv.appendChild(checkboxDiv);
        });
    }



        
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function applyMissingValueStrategy() {
        const strategy = document.getElementById("missing_value_strategy").value;
        
        const selectedColumns = Array.from(document.querySelectorAll('input[name="feature_selection"]:checked')).map(checkbox => checkbox.value);
        
        
        

        fetch('/preprocessing/fill-missing/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),  // Use a helper function to get CSRF token
            },
            body: JSON.stringify({
                strategy: strategy,
                columns: selectedColumns
            }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(data.error);
            } else {

                text=JSON.parse(data.json_data)        
                headers=data.headers
                null_columns=data.null_columns
                non_numerical_cols=data.non_numerical_cols
                generatecolumns(null_columns,featureSelectionDiv,feat)    //generate columns for missing values     
                generatecolumns(non_numerical_cols,encoding_selection,enco)         //generate columns for encoding
                generatecolumns(headers,scale_selection,scale)
                generateTable(text,null_columns); // Append the generated table to the container





            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    // Call this function when the user applies the missing value strategy
    document.getElementById('missing_value_strategybtn').addEventListener('click', applyMissingValueStrategy);


    //Encoding strategy
    function encoding() {
        const strategy = document.getElementById("encoding_strategy").value;
        const selectedColumns = Array.from(document.querySelectorAll('input[name="encoding_selection"]:checked'))
            .map(input => input.value);

        console.log(strategy);
        console.log(selectedColumns);


        fetch('/preprocessing/encoding/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),  // Use a helper function to get CSRF token
            },
            body: JSON.stringify({
                strategy: strategy,
                columns: selectedColumns
            }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(data.error);
            } else {
                
                text=JSON.parse(data.json_data)        
                headers=data.headers
                null_columns=data.null_columns
                non_numerical_cols=data.non_numerical_cols
                generatecolumns(null_columns,featureSelectionDiv,feat)    //generate columns for missing values     
                generatecolumns(non_numerical_cols,encoding_selection,enco)         //generate columns for encoding
                generatecolumns(headers,scale_selection,scale)
                generateTable(text,null_columns); // Append the generated table to the container


            }
        })
        .catch(error => { 
            console.error('Error:', error);
        });
    }

    // Call this function when the user applies the encoding strategy
    document.getElementById('encoding_strategybtn').addEventListener('click', encoding);


//scaling strategy

function applyScalingStrategy() {
    const scalingStrategy = document.getElementById("scaling_strategy").value;
    const selectedColumns = Array.from(document.querySelectorAll('input[name="scaling_selection"]:checked'))
        .map(input => input.value);

    console.log(scalingStrategy);
    console.log(selectedColumns);
    fetch('/preprocessing/scaling/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken'),  // Use a helper function to get CSRF token
        },
        body: JSON.stringify({
            strategy: scalingStrategy,
            columns: selectedColumns
        }),
    })
    .then(response => response.json())
    .then(data => {
        if (data.error) {
            alert(data.error);
        } else {
            text=JSON.parse(data.json_data)        
            headers=data.headers
            null_columns=data.null_columns
            non_numerical_cols=data.non_numerical_cols
            generatecolumns(null_columns,featureSelectionDiv,feat)    //generate columns for missing values     
            generatecolumns(non_numerical_cols,encoding_selection,enco)         //generate columns for encoding
            generatecolumns(headers,scale_selection,scale)
            generateTable(text,null_columns); // Append the generated table to the container

        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

// Call this function when the user applies the scaling strategy
document.getElementById('scaling_strategybtn').addEventListener('click', applyScalingStrategy);





</script>
{% endblock %}
