{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Regression{% endblock %}

{% block body %}
<div class="fade-in p-2 page">
  <h1 class='display-3 m-2 title'>Regression</h1>
  
  <ul class="list-group m-4">
    <li class="list-group-item"><a href={% url 'linear_regression' %}>Linear Regression</a></li>
    <li class="list-group-item"><a href={% url 'lasso' %}>Lasso Regression</a></li>
    {% comment %} <li class="list-group-item"><a href="#">Decision Trees</a></li> {% endcomment %}
    {% comment %} <li class="list-group-item"><a href="#">Random Forest</a></li> {% endcomment %}
    {% comment %} <li class="list-group-item"><a href="#">Support Vector Machines</a></li> {% endcomment %}
  </ul>
</div>
{% endblock %}

{% block footer %}
{% endblock %}