{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Regression{% endblock %}

{% block body %}
<div class="fade-in">
  <h1 class='display-3'>Regression</h1>
  
  <h3 class='display-5 flex-column p-4'>Select Regression Algorithm</h3>

  <ul class="list-group">
    <li class="list-group-item"><a href={% url 'linear_regression' %}>Linear Regression</a></li>
    <li class="list-group-item"><a href="#">Polynomial Regression</a></li>
    <li class="list-group-item"><a href="#">Decision Trees</a></li>
    <li class="list-group-item"><a href="#">Random Forest</a></li>
    <li class="list-group-item"><a href="#">Support Vector Machines</a></li>
  </ul>
</div>
{% endblock %}
