{% extends "main/layout.html" %}
{% load static %}

{% block title %}Input Datasets{% endblock %}

{% block body %}
<div class="fade-in page">
  <div class="container d-flex">
    <div>
      <h1 class='display-3 title'>Input Datasets</h1>
      <div>
        <form id="ml-form" method="get" enctype="multipart/form-data" class="form form-group mt-3">
          {% csrf_token %}
          <div class="form-group">
            <label for="dataset">Upload Dataset</label>
            <input type="file" name="dataset" id="dataset" class="form-control-file" />
          </div>

          <div class="form-group">
            <label for="feature1">Feature 1:</label>
            <input type="text" class="form-control" id="feature1" value="10" placeholder="Enter value">
          </div>
          <div class="form-group">
            <label for="feature2">Feature 2:</label>
            <input type="text" class="form-control" id="feature2" value="20" placeholder="Enter value">
          </div>

          <div class="form-group">
            <label for="target">Target:</label>
            <select name="target" id="target" class="form-control">
              <option value="target1" selected>Target 1</option>
              <option value="target2">Target 2</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary">Next</button>
          
          <div class="fade-in">
            <div class="form-group">
              <label for="param1">Parameter 1:</label>
              <input type="text" class="form-control" id="param1" value="value1">
            </div>
            <div class="form-group">
              <label for="param2">Parameter 2:</label>
              <input type="text" class="form-control" id="param2" value="value2">
            </div>
            <button type="submit" id="build-btn" class="btn btn-primary">
              Build
            </button>
          </div>
        </form>
        <div id="alert" class="alert alert-danger mt-4 d-none bg-gradient"></div>
      </div>
    </div>

    <div class="d-flex">
      <div class="right justify-content-center" id="canvas-1"></div>  
    </div>
  </div>

  <div class="container d-flex">
    <div class="d-flex">
      <div class="left justify-content-center" id="canvas-2"></div>  
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src={% static "main/js/input.js" %}></script>
{% endblock %}
