.guide-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

.custom-popup {
    font-size: 16px; /* Increase font size */
    text-align: left; /* Align text to the left */
  }
  .custom-popup .swal2-html-container {
    font-size: 16px; /* Optional: to ensure the HTML content font size is consistent */
  }

