:root {
  --primary-color: #ffffff;
  --secondary-color: rgb(0, 150, 255);
  --dark-color: rgb(0, 10, 102);
}

body {
  font-family: 'Poppins', sans-serif;
  color: #0c0c0c;
  min-height: 100vh;
  overflow-x: hidden!important;
}

.btn-primary {
  background-color: var(--secondary-color)!important;
  border: none!important;
  border-radius: 3px!important;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1)!important;
}
.btn-primary:hover {
  background-color: var(--dark-color)!important;
}
.btn-primary:disabled:hover {
  background-color: var(--secondary-color)!important;
  color: var(--primary-color)!important;
}
.btn-outline-primary {
  color: var(--secondary-color)!important;
  border: 1px solid var(--secondary-color)!important;
  border-radius: 3px!important;
}
.btn-outline-primary:hover {
  color: var(--primary-color)!important;
  background-color: var(--secondary-color)!important;
}
.btn-outline-primary.disabled:hover {
  color: var(--secondary-color)!important;
  background-color: var(--primary-color)!important;
  border: 1px solid var(--secondary-color)!important;
}

.fade-in, .fade-in-2, .fade-in-3 {
  display: none;
}

.btn:focus, .btn:active {
  outline: none!important;
  box-shadow: none;
  -webkit-box-shadow: none!important;
}

.table-info {
  color: #0062cc!important;
  border: 0.5px solid #0062cc!important;
  background-color: var(--primary-color)!important;
  /* color: var(--primary-color)!important; */
}
.table-info th {
  color: var(--primary-color)!important;
  background-color: #0062cc!important;
  border: 0.5px solid #0062cc!important;
}
.table-info td {
  border: 0.5px solid #0062cc!important;
}

.display-3 {
  color: var(--secondary-color)!important;
}

.swal2-confirm {
  background-color: var(--secondary-color)!important;
  color: var(--primary-color)!important;
}
.swal2-close {
  border: none!important;
  outline: none!important;
}

/* ! Home */
#home {
  height: 110vh;
  background-color: var(--secondary-color)!important;
  padding: 0;
  margin: 0;
}
#home h1 {
  margin-top: 25vh;
  font-size: 50px;
}
#home span {
  font-size: 30px;
}
#home a {
  width: 200px;
  text-align: center;
  padding: 4px 0px;
  margin-top: 25px;
  border: 1px solid var(--secondary-color);
  border-radius: 55px;
  text-decoration: none;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  transition: all 0.5s;
}
#home a:hover {
  background-color: var(--dark-color)!important;
  color: var(--primary-color)!important;
}
#home a:focus {
  outline: none;
}
#home a:active {
  background-color: var(--primary-color)!important;
  color: var(--secondary-color)!important;
}
.start-btn {
  width: 200px; 
  text-align: center;
  padding: 4px 0; 
  margin-top: 25px;
  color: var(--secondary-color); 
  background-color: var(--primary-color); 
  border-radius: 55px; 
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  z-index: 1;
}

.start-btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: var(--dark-color);
  border-radius: 55px;
  transition: all 0.5s ease;
}

.start-btn:hover {
  color: var(--primary-color)!important;
}

.start-btn:hover:after {
  left: 0;
  width: 100%;
}

.start-btn:active {
  background-color: var(--primary-color)!important;
  color: var(--secondary-color)!important;
}

.div-2 {
  height: 60vh;
  background-color: var(--primary-color);
}
.div-3 {
  margin-top: 55vh;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 35%;  /* Align horizontally in the center */
  transform: translateX(-50%); /* Center align horizontally */
  top: calc(200px + 10px); /* Place at the junction (height of the first div + half the margin) */
}

.div-4 {
  font-size: 18px;
}
.div-4 p {
  width: 50%;
  color: rgba(0, 0, 0, 0.7);
}

.div-3 img {
  width: 1000px;
  border-radius: 20px;
  box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.3);
}

.div-5 {
  min-height: 30vh;
}

.div-5 p {
  color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 600px) {
  #home {
    height: 110vh;
  }
  .div-2 {
    height: 40vh;
  }
  .div-3 {
    height: 100vh;
    margin: 10px;
    margin-top: 60vh;
    width: 100%;
    height: 100%;
    left: 0;
    transform: none;
    overflow:hidden;
  }
  .div-3 img {
    left: 50%;
    transform: translateX(10%); /* Center align horizontally */
    margin: 4px;
  }
  .div-4 h2 {
    text-align: center;
    font-size: 40px;
  }
  .div-4 p {
    width: 100%;
  }
}


#get-started {
  padding: 15vh!important;
  padding-bottom: 0!important;
}
#get-started > div {
  color: var(--primary-color)!important;
  background-color: var(--secondary-color)!important;  
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
#get-started > div:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#select-category {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

#get-started h5 {
  color: var(--primary-color);
  font-size: 40px;
}

#get-started button {
  font-size: 18px;
  font-weight: bold;
  width: 200px;
  text-align: center;
  padding: 4px 0px;
  margin-top: 25px;
  border: none;
  border-radius: 55px;
  text-decoration: underline;
  text-align: left;
  margin-left: 0;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  transition: all 0.5s;
}
#get-started button:disabled {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
#get-started button:hover {
  border: none;
  text-decoration-color: var(--dark-color)!important;
  margin-left: 15px;
  color: var(--dark-color)!important;
}
#get-started button:disabled:hover {
  border: none;
  text-decoration: none;
  color: var(--secondary-color)!important;
}
#get-started button:focus {
  outline: none;
}

.feature-card-img {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 600px) {
  #get-started {
    padding: 10px!important;
  }
  #get-started > div {
    margin: 10px!important;
    padding: 10px!important;
    width: 95%!important;
  }
  .feature-card-img {
    display: none!important;
  }
}

.third {
  font-size: 18px;
  min-height: 70vh;
  margin-bottom: 20px;
}
.third .subtitle {
  width: 60%;
  color: rgba(0, 0, 0, 0.7);
}

.third a {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 4px 0px;
  margin-top: 25px;
  border: none;
  border-radius: 55px;
  text-decoration: none;
  text-align: left;
  margin-left: 0;
  color: var(--secondary-color);
  transition: all 0.5s;
}
.third .last {
  transition: all 0.5s;
}
.third .last:hover {
  border: none;
  text-decoration: underline;
  text-decoration-color: var(--dark-color)!important;
  margin-left: 5px;
  color: var(--dark-color)!important;
}
.third a:focus, a:active {
  color: var(--dark-color)!important;
  outline: none;
}
.line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}
.third .card-text {
  min-height: 100px;
  font-size: 16px;
}

.category-logo {
  width: 50px;
  height: 50px;
}

.fourth {
  margin: 0 10% 20px 10%;
  padding: 20px;
  min-height: 20vh;
  background-color: var(--dark-color);
  border-radius: 10px;
  color: var(--primary-color);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
.fourth p {
  height: 100%;
}

.category-card {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.footer {
  background-color: var(--secondary-color);
  color: rgba(255, 255, 255, 1)!important;
}
.footer .text-muted {
  color: rgba(255, 255, 255, 0.7)!important;
}

/* ! Algorithm */
.algo {
  text-decoration: none;
  border-radius: 5px;
}
.algo li {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.algo:hover {
  text-decoration: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

/* ! Input form */
.loader {
  height: 70vh;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.icon.tick {
  width: 20px;
  height: 20px;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 17px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.custom_nav-container form {
  padding-top: 7px;
}

.navbar {
  padding: 5px 5px 0 10px!important;
}

.navbar-brand {
  margin-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand img {
  width: 275px;
  height: 50px;
  margin-right: 5px;
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  .navbar-brand img {
    width: 220px;
    height: 35px;
  }  
}

.navbar-brand span {
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
}

.dropdown-menu {
  width: 100%!important;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: var(--primary-color)!important;
}
.dropdown-menu a {
  color: var(--secondary-color)!important;
  background-color: var(--primary-color)!important;
  border: none;
  border-radius: 0;
}
.dropdown-menu a:hover {
  color: var(--primary-color)!important;
  background-color: var(--secondary-color)!important;
}

/* Select checkboxes */
.optional-div input[type="checkbox"] {
  display: inline-block;
  width: 15px;
  height: 15px;
}

/* ! Sampling */
.sample-card:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.sample-download:hover {
  filter: brightness(120%);
}

/* ! Results */
.evaluation a {
  text-decoration: none!important;
}
#predict-title {
  color: var(--secondary-color)!important;
  font-size: 50px;
}
.pred-left {
  max-width: 40vw;
}
.pred-right {
  width: 100%;
  max-width: 60vw;
}
.prediction button {
  height: 50px!important;
  border-radius: 15px!important;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
              7px 7px 20px 0px rgba(0,0,0,.1),
              4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.predict-btn {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: var(--secondary-color);
  background: linear-gradient(0deg, var(--secondary-color) 0%, var(--secondary-color) 100%);
  outline: none;
}

.predict-btn:hover {
  color: var(--secondary-color);
  background: transparent;
  box-shadow: none;
}

.predict-btn:before,
.predict-btn:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: var(--secondary-color);
  box-shadow: -1px -1px 5px 0px #fff,
              7px 7px 20px 0px #0003,
              4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}

.predict-btn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.predict-btn:hover:before,
.predict-btn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
.predict-btn:focus {
  outline: none;  
}

.view-code-logo {
  width: 25px;
  height: 25px;
}

#show-code-btn {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 5px 10px;
  margin: 0 20px 0 0;
  border-radius: 50%;
}
#show-code-btn:hover {
  background-color: var(--dark-color);
  color: white;
}
#show-code-btn:focus {
  outline: none;
}
.code-copy {
  margin-left: 10px;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
}
.code-copy img {
  width: 25px;
  height: 25px;
}
.code-copy:hover {
  color: white;
}
.code-copy:focus {
  outline: none;
}
.swal-wide {
  width: 90vw!important;
}

.gauge-container {
  position: relative;
  width: 150px; /* Adjust width and height based on your gauge size */
  height: 150px;
  color: #0062cc;
}

.gauge-container canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.gauge-container .label {
  position: absolute;
  transform: translate(-50%, 50%);
  text-align: center;
  width: 100%;
  margin-left: 50%;
  font-size: 20px;
  color: #007bff;
  text-align: center;
  bottom: -10px; /* Adjust distance from the bottom if necessary */
}

.gauge-container .value-text {
  font-size: 15px;
  fill: var(--secondary-color);
}

.gauge-container > .gauge .dial {
  stroke-width: 10;
  stroke: rgba(0, 150, 255, 0.2);
}
.gauge-container > .gauge .value {
  stroke-width: 10;
}
.evaluation-gauges div {
  position: relative;
  margin-bottom: 50px;
}

/* ! Others */
.error-404 {
  color: var(--secondary-color)!important;
  text-align: center;
}
